.mainColumn {
  max-height: 100vh;
  width: 100%;
  background-color: var(--BackgroundColor);
  overflow-y: auto;
  padding-bottom: 4rem;
}

.breadCrumbContainer {
  margin-top: 1rem;
}

.breadCrumbItem > * {
  color: var(--TextColor) !important;
}

.breadCrumbItem {
  color: var(--ButtonBackground) !important;
  font-weight: 600;
}

.breadCrumbItem::before {
  color: var(--TextColor) !important;
}

.title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  user-select: none;
}

.subTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subTitleRow > * {
  width: 0% !important;
}

.subTitletext {
  margin-left: 2rem;
  font-size: 1.5rem;
  user-select: none;
}

.subTitleButton {
  width: 10rem !important;
  height: 2.5rem;
  background-color: var(--ButtonBackground);
  border: 1px solid var(--ButtonBackground);
  border-color: var(--ButtonBackground);
  border-radius: 0.5rem;
  color: var(--TextColor);
  transition: all 0.5s;
}

.subTitleButton:hover {
  background-color: var(--ButtonHoverBackground);
  border-color: var(--ButtonHoverBackground);
}

.subTitleButton:active {
  background-color: var(--BackgroundColor);
}

.titleInputText {
  color: var(--TextColor);
}

.titleInput {
  border-color: var(--InputBorderColor) !important;
  background-color: var(--InputBackground) !important;
  color: var(--TextColor) !important;
  width: auto !important;
  margin-left: 2.5rem;
}

.titleInput::placeholder {
  color: var(--TextColor) !important;
  opacity: 25%;
}

.titleInput:focus,
.titleInput:active {
  border-color: var(--MainColor) !important;
  box-shadow: 0 0 0 0.2rem rgba(181, 40, 212, 0.25) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--InputBackground) inset !important;
  -webkit-text-fill-color: var(--TextColor) !important;
}

.errorInput {
  border-color: rgb(255, 0, 0) !important;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.selectedExercisesTitle {
  color: var(--TextColor);
  margin-top: 1rem;
}
