.mainColumn {
  height: 100vh;
  width: 100%;
  background-color: var(--BackgroundColor);
  overflow-y: auto;
}

.breadCrumbContainer {
  margin-top: 1rem;
}

.breadCrumbItem > * {
  color: var(--TextColor) !important;
}

.breadCrumbItem {
  color: var(--ButtonBackground) !important;
  font-weight: 600;
}

.breadCrumbItem::before {
  color: var(--TextColor) !important;
}

.title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  user-select: none;
  text-wrap: nowrap;
}

.subTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.subTitleRow > * {
  width: 0 !important ;
}

.subTitletext {
  margin-left: 2rem;
  font-size: 1.5rem;
  user-select: none;
  text-wrap: nowrap;
}

.subTitleButton {
  width: 10rem !important;
  height: 2.5rem;
  background-color: var(--ButtonBackground);
  border: 1px solid var(--ButtonBackground);
  border-color: var(--ButtonBackground);
  border-radius: 0.5rem;
  color: var(--TextColor);
  transition: all 0.5s;
}

.subTitleButton:hover {
  background-color: var(--ButtonHoverBackground);
  border-color: var(--ButtonHoverBackground);
}

.subTitleButton:active {
  background-color: var(--BackgroundColor);
}

.subTitleButton:disabled {
  background-color: var(--BackgroundColor);
  /* opacity: 0; */
}

.searchContainer {
  display: flex;
  align-items: center;
}

.titleInput {
  flex-grow: 1;
  margin-right: 10px;
}

.clearButton {
  width: 10rem !important;
  height: 100%;
  padding: 10px;
  background-color: var(--ButtonBackground) !important;
  border: 1px solid var(--ButtonBackground) !important;
  border-radius: 0.5rem;
  color: var(--TextColor) !important;
  transition: all 0.5s !important;
}

.clearButton:hover {
  background-color: var(--ButtonHoverBackground) !important;
  border-color: var(--ButtonHoverBackground) !important;
}

.clearButton:hover {
  box-shadow: none !important;
}

.titleInputText {
  color: var(--TextColor);
}

.titleInput {
  border-color: var(--InputBorderColor) !important;
  background-color: var(--InputBackground) !important;
  color: var(--TextColor) !important;
  width: auto !important;
  margin-left: 1rem;
}

.titleInput::placeholder {
  color: var(--TextColor) !important;
  opacity: 25%;
}

.titleInput:focus,
.titleInput:active {
  border-color: var(--MainColor) !important;
  box-shadow: 0 0 0 0.2rem rgba(181, 40, 212, 0.25) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--InputBackground) inset !important;
  -webkit-text-fill-color: var(--TextColor) !important;
}

.errorInput {
  border-color: rgb(255, 0, 0) !important;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.exerciseImage {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  margin-right: 10px;
}

.exerciseName {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--TextColor);
}

.exerciseMuscle {
  color: var(--TextColor);
}

.exerciseList {
  max-height: 60vh;
  overflow-y: auto;
}

.exerciseList::-webkit-scrollbar {
  display: none;
}

.exerciseItem {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.exerciseDetails {
  display: flex;
  align-items: center;
}

.addButton {
  margin-left: auto;
}

.searchRow {
  margin-bottom: 20px;
}

.searchInput {
  width: 100% !important;
  padding: 10px;
  font-size: 16px;
  margin-left: 1rem;
}

.exerciseDetails {
  display: flex;
  align-items: center;
}

.addButton {
  margin-left: auto;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
